<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ page.title | default: "Blyat" }} — Blyat</title>
<link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
<script>
MathJax = {
  tex: {
    inlineMath: [['$', '$']], ['\\(', '\\)']],
    displayMath: [['$$', '$$']], ['\\[', '\\]']]
  }
};
</script>
<script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js" defer></script>
<body>

  <header>
    <nav>
      <a href="{{ '/' | relative_url }}#projects">Projects</a>
      <a href="{{ '/blog/' | relative_url }}">Blog</a>
      <a href="https://github.com/" target="zack1ng" rel="noopener">GitHub</a>
      <a href="{{ '/' | relative_url }}#contact">Contact</a>
    </nav>
  </header>

  <div class="wrap">
    {{ content }}
  </div>

  <footer id="contact">
    Reach me at <a href="mailto:zakaria.latreche@etu.univ-smb.fr">Email: zakaria.latreche@etu.uinv-smb.fr </a><a href="https://github.com/zack1ng">GitHub: @zack1ng</a>
  </footer>

</body>
</html>
